html {
  font-size: 14px;
}
body {
  color: #555555;
}
body.private {
  background-image: url("../../Images/Shared/background.jpg");
  background-color: #31353C;
}
body.public {
  background-image: url("../../Images/Shared/content-background.jpg");
  background-color: #F2F2F2;
}
.separator {
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #DDDDDD;
}
.footer {
  text-align: center;
  padding-top: 20px;
  color: #CCCCCC;
}