body {
  color: #555555;
  font-size: 0.875rem;
}
body.private {
  background-image: url("../../images/shared/background.jpg");
  background-color: #31353c;
}
body.public {
  background-image: url("../../images/shared/content-background.jpg");
  background-color: #f2f2f2;
}
.separator {
  border-bottom: 2px solid #f5f5f5;
  border-top: 2px solid #dddddd;
}
.footer {
  text-align: center;
  padding-top: 20px;
  color: #cccccc;
}