.header {
  justify-content: flex-end;
  display: flex;
}
.header .btn {
  min-width: 50px;
  border: none;
  padding: 0;
}
.header .btn.open > a,
.header .btn:hover > a {
  background: linear-gradient(#6F93A7, #2A4E62);
  color: #FFFFFF;
}
.header .btn > a {
  text-shadow: 0 0 #CCCCCC;
  line-height: 1.42857143;
  display: block;
  padding: 10px;
  color: #CCCCCC;
}
.header .btn > a .fa {
  margin-right: 5px;
}
.header .btn > a .caret {
  margin-left: 5px;
}
.header .btn img {
  margin-bottom: 3px;
}
.header .btn .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}
.header .btn .dropdown-menu img {
  margin-right: 5px;
}
.header .btn .dropdown-toggle::after {
  vertical-align: 0.2em;
}
@media (max-width: 767px) {
  .header-navigation .btn > a .fa {
    margin: 0;
  }
  .header-navigation .dropdown-menu {
    left: -120px;
  }
  .header-navigation .text,
  .header-navigation .caret {
    display: none;
  }
}