/* Bootstrap */
a:hover {
  text-decoration: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: linear-gradient(#6F93A7, #2A4E62);
  color: #FFFFFF;
  z-index: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #EEEEEE;
}
.btn-primary:not(:disabled):not(.disabled) {
  background: linear-gradient(#84b2ca, #67a0be);
  border: 1px solid #5997b8;
}
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background: linear-gradient(#75a9c4, #5997b8);
  border: 1px solid #5997b8;
}
.table {
  margin-bottom: 0;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  vertical-align: middle;
  border-bottom: none;
  white-space: nowrap;
  border-top: none;
}
.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.input-group .form-control {
  z-index: 1;
}
@-ms-viewport {
  width: auto;
}
/* JQuery-UI Datepicker */
.ui-datepicker {
  padding: 0;
}
.ui-datepicker .ui-widget-header {
  background: linear-gradient(#6F93A7, #2A4E62);
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
  border: none;
}
.ui-datepicker .ui-widget-header .ui-state-hover {
  background: none;
  cursor: pointer;
  border: none;
}
.ui-datepicker .ui-widget-header .ui-datepicker-prev span {
  background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -96px -16px;
}
.ui-datepicker .ui-widget-header .ui-datepicker-next span {
  background-image: url(../../Images/JQueryUI/ui-icons_ffffff_256x240.png);
  background-position: -32px -16px;
}
.ui-datepicker table {
  margin: 0;
}
.ui-datepicker table th {
  font-size: 10px;
}
.ui-datepicker table tr:first-child td {
  padding-top: 3px;
}
.ui-datepicker table tr:last-child td {
  padding-bottom: 3px;
}
.ui-datepicker table td {
  padding-right: 3px;
}
.ui-datepicker table td:first-child {
  padding-left: 3px;
}
.ui-datepicker table td .ui-state-default {
  text-align: center;
  border-radius: 5px;
  background: none;
  border: none;
}
.ui-datepicker table td .ui-state-highlight {
  background: linear-gradient(#eef2f4, #e4eef3);
}
.ui-datepicker table td .ui-state-active,
.ui-datepicker table td .ui-state-hover {
  background: linear-gradient(#6F93A7, #2A4E62);
  text-shadow: 1px 0 0 #555555;
  color: #FFFFFF;
  cursor: pointer;
}
.ui-datepicker .ui-timepicker-div > dl {
  margin: 0;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_time {
  text-align: center;
  margin: 0 0 5px;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
  text-align: center;
  border: none;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_time_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_hour_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_minute_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_second_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_millisec_label,
.ui-datepicker .ui-timepicker-div .ui_tpicker_timezone_label {
  display: none;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_hour,
.ui-datepicker .ui-timepicker-div .ui_tpicker_minute,
.ui-datepicker .ui-timepicker-div .ui_tpicker_second,
.ui-datepicker .ui-timepicker-div .ui_tpicker_millisec,
.ui-datepicker .ui-timepicker-div .ui_tpicker_timezone {
  margin: 0 15px 10px;
}
/* Mvc.Lookup */
.mvc-lookup-dialog th {
  text-align: center !important;
}
.mvc-lookup-input {
  outline: none;
}
/* Mvc.Grid */
.mvc-grid {
  overflow-x: auto;
  width: 100%;
}
.mvc-grid th {
  text-align: center !important;
  padding-right: 30px;
  padding-left: 30px;
  height: 2.65em;
}
.mvc-grid-pager ul {
  justify-content: center;
  margin: 8px;
}
.mvc-grid-pager ul span {
  border: 1px solid #DEE2E6;
  padding: 0.4em 0.8em;
  position: relative;
  margin-left: -1px;
}
.mvc-grid-popup .invalid {
  outline-color: #DC3545;
  border-color: #DC3545;
}
/* JsTree */
.js-tree-view {
  padding: 7px 0 3px;
  display: none;
}