<div id="MvcLookup" class="mvc-lookup">
    <div class="mvc-lookup-div">
        <div class="mvc-lookup-data-search">
            <div class="mvc-lookup-search-group">
                <div class="mvc-lookup-search-box">
                    <div class="mvc-lookup-search-box-content">
                        <input class="mvc-lookup-search-input form-control" />
                    </div>
                </div>
                <div class="mvc-lookup-spinner-box">
                    <input class="mvc-lookup-items-per-page" />
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="mvc-lookup-processing">
        </div>
        <div class="mvc-lookup-error-container" style="display: none">
            <div class="mvc-lookup-error alert alert-danger">
                <span class="mvc-lookup-error-span"></span>
            </div>
        </div>
        <div class="mvc-lookup-data">
            <table class="table table-hover table-striped table-bordered mvc-lookup-table">
                <thead class="mvc-lookup-table-head"></thead>
                <tbody class="mvc-lookup-table-body"></tbody>
            </table>
        </div>
        <div class="mvc-lookup-pager">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
