@{
    Layout = "_PublicLayout";
}

<div class="title text">@ContentTitles.HomeError</div>

<div class="separator"></div>

<div class="error text fa fa-ban"></div>

<div class="separator"></div>

<div class="describtion text">@SharedTexts.SystemError</div>
<a asp-action="Index" asp-controller="Home" asp-route-area="" class="btn btn-primary public-action">
    @ContentTitles.HomeIndex
</a>
