@{
    Layout = "_PublicLayout";
}

<div class="title text-right">@Pages.HomeNotFound</div>

<hr />

<div class="title fa fa-search"></div>

<hr />

<div class="description">@Strings.PageNotFound</div>

<a asp-action="Index" asp-controller="Home" asp-route-area="" class="btn btn-block btn-primary mt-3">
    @Pages.HomeIndex
</a>
