@{
    Layout = "_PublicLayout";
}

<div class="title text">@Pages.HomeUnauthorized</div>

<div class="separator"></div>

<div class="error text fa fa-lock"></div>

<div class="separator"></div>

<div class="describtion text">@Strings.Unauthorized</div>
<a asp-action="Index" asp-controller="Home" asp-route-area="" class="btn btn-primary public-action">
    @Pages.HomeIndex
</a>
