@model AccountResetView

<div class="title text">@Pages.AuthReset</div>
<div class="separator"></div>

<form asp-antiforgery="true">
    <input class="collapse" type="password" /> @* Forcing browser to not remember following form inputs *@
    <partial name="_AuthAlerts" />

    <div class="auth-content">
        <div class="input-group">
            <span class="fa fa-lock"></span>
            <input asp-for="NewPassword" asp-placeholder type="password" />
            <span class="input-error fa fa-exclamation-triangle"></span>
        </div>
    </div>
    <button class="btn btn-primary">@Actions.Submit</button>
</form>

<div class="separator"></div>
