<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@(ViewBag.Title ?? ResourceProvider.GetPageTitle(ViewContext.RouteData.Values))</title>

    <environment names="Development">
        <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet">
        <link href="~/Content/FontAwesome/font-awesome.css" rel="stylesheet">
        <link href="~/Content/Shared/alerts.css" rel="stylesheet">
        <link href="~/Content/Shared/base.css" rel="stylesheet">
        <link href="~/Content/Shared/content.css" rel="stylesheet">
        <link href="~/Content/Shared/header.css" rel="stylesheet">
        <link href="~/Content/Shared/menu.css" rel="stylesheet">
        <link href="~/Content/Shared/overrides.css" rel="stylesheet">
        <link href="~/Content/Shared/table.css" rel="stylesheet">
        <link href="~/Content/Shared/widget-box.css" rel="stylesheet">
        <link href="~/Content/Application/Auth/shared.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" href="~/content/public/bundle.min.css" rel="stylesheet">
    </environment>
</head>
<body class="public">
    <div class="content-container">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/Scripts/JQuery/jquery.js"></script>
        <script src="~/Scripts/JQuery/jquery.validate.js"></script>
        <script src="~/Scripts/JQuery/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/JQuery/jquery.globalize.js"></script>
        <script src="~/Scripts/JQuery/Cultures/globalize.en.js"></script>
        <script src="~/Scripts/JQuery/Cultures/globalize.lt.js"></script>
        <script src="~/Scripts/Bootstrap/bootstrap.js"></script>
        <script src="~/Scripts/Bootstrap/bootstrap.no-conflict.js"></script>
        <script src="~/Scripts/Shared/Widgets/alerts.js"></script>
        <script src="~/Scripts/Shared/Widgets/menu.js"></script>
        <script src="~/Scripts/Shared/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/scripts/public/bundle.min.js"></script>
    </environment>
</body>
</html>
